<form action="#" method="post" id="roomForm" class="creativeForm">
    <h3>Stwórz pokój</h3>
    <div id="roomInputs">
        <input required type="text" name="roomName" id="roomName" autocomplete="off">
        <input type="submit" value="OK" id="submitRoom">
    </div>
</form>