<!DOCTYPE html>
<html lang="pl">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script defer src="client.js"></script>
</head>

<body>
    <header>
        <section>
            <h1>Czat Lewando54</h1>
        </section>
        <nav>
            <a href="/">Strona Główna</a>
        </nav>
    </header>
    <main>
        <form action="/register" method="post" id="regForm" enctype="multipart/form-data">
            <div>
                <label for="email">Email</label>
                <input required type="text" name="email" id="email">
            </div>
            <div>
                <label for="login">Nazwa użytkownika</label>
                <input required type="text" name="login" id="login">
            </div>
            <div>
                <label for="password">Hasło</label>
                <input required type="password" name="password" id="password">
            </div>
            <div>
                <label for="avatar">Zdj. profilowe</label>
                <input type="file" name="avatar" id="avatar" accept=".png, .jpeg, .jpg">
                <div id="avatarPreview"></div>
            </div>
            <div>
                <input type="submit" value="Zarejestruj" id="submitReg">
            </div>
        </form>
    </main>

</body>

</html>